@charset "utf-8";

body{
	font-family: arial;
	background-color: #e0eee0;
	color : rgba(0,0,0,1);
	font-weight: bold;
}

h1{
	color: #f3eda3;;
	text-align: left;
	text-indent: 0px;
}

h2{
	color: #f3eda3;;
	text-align: center;
	text-indent: -90px;
}

div#interface{
	width: 574px;
	background-color: #3c1808;
	margin: -25px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	padding: 15px;
}

p{
	text-align: justify;
	text-indent: 50px;
	color: #f3eda3;
}

/*	âncora ou link	*/
a{
	color: #f3eda3;
	text-decoration: none;
}

a#amarelo{
	color: #fdf427;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

a#amarelo:hover{
	text-decoration: underline;
}

aside#lateral
{
	display: block;
	position: relative;
	top: -93px;
	left: 95px;
	width: 455px;
	padding: 5px;
	background-color: #3c1808; /* cor a ser usada #e0eee0 */
	margin-top: 0px;
}
